{% load static %}
<div id="menu" class="menu">
  <i class="fa fa-times" id="menu-close"></i>
  <div class="container">
    <div class="image">
      <a href="#"><img src="{% static 'assets/images/My_photo1.jpg' %}" alt="" /></a>
    </div>
    <div class="author-content">
      <h4>Kanin Nikita</h4>
      <span>Junior Back-end Developer</span>
    </div>
    <nav class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">About Me</a></li>
        <li><a href="#section2">My Skills</a></li>
        <li><a href="#section3">My Projects</a></li>
        <li><a href="#section4">Contact Me</a></li>
      </ul>
    </nav>
    <div class="social-network">
      <ul class="social-icons">
        <li>
          <a href="https://vk.com/lomal" target="_blank"><i class="fa fa-vk"></i></a>
        </li>
        <li>
          <a href="https://linkedin.com/in/nikita-kanin-b4a93a205" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://t.me/kanin_nikita" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>